* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    color: #333333;
    
  }
  
  form table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }

 
  /* REMs */
  .input-tiny {
    width: 50px;
  }
  
  .input-xsmall {
    width: 75px;
  }
  .input-small {
    width: 100px;
  }
  
  .input-medium {
    width: 150px;
  }
  
  .input-large {
    width: 200px;
  }
  
  .input-xlarge {
    width: 250px;
  }
  
  .input-xxlarge {
    width: 300px;
  }
  
  .button-blue {
    background-color: DodgerBlue;
    color: white;
  }

  .button-grey {
    background-color: darkslategray;
    color: white;
  }

  .button-green {
    background-color:darkgreen;
    color: white;
  }

  .button-red {
    background-color: darkred;
    color: white;
  }

  .button-std {
    height: 36px;
    width: 100%;
    
    outline: 0;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Roboto", "Open Sans", Tahoma, Geneva, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 1rem;
    font-weight: 300;
  }
    
  .headerfooter input[type="search"]::-webkit-search-decoration {
    display: none;
  }
  
  .headerfooter input:invalid,
  .headerfooter select:invalid,
  .headerfooter textarea:invalid {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .headerfooter input:focus,
  .headerfooter select:focus,
  .headerfooter textarea:focus {
    -moz-box-shadow: #06f 0 0 3px 0;
    -webkit-box-shadow: #06f 0 0 3px 0;
    box-shadow: #06f 0 0 3px 0;
    z-index: 1;
  }
  
  .headerfooter input[type="file"]:focus, input[type="file"]:active,
  .headerfooter input[type="radio"]:focus,
  .headerfooter input[type="radio"]:active,
  .headerfooter input[type="checkbox"]:focus,
  .headerfooter input[type="checkbox"]:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .headerfooter input[type="checkbox"] { -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box; 
  background-color: #F5F5F5;
  border: 1px solid #CCC;

  color: #212121;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 4px;
  padding: 0.4rem;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: 0;
  vertical-align: top;
}



.headerfooter textarea,
.headerfooter select,
.headerfooter input[type="date"],
.headerfooter input[type="datetime"],
.headerfooter input[type="datetime-local"],
.headerfooter input[type="email"],
.headerfooter input[type="month"],
.headerfooter input[type="number"],
.headerfooter input[type="password"],
.headerfooter input[type="search"],
.headerfooter input[type="tel"],
.headerfooter input[type="text"],
.headerfooter input[type="time"],
.headerfooter input[type="url"],
.headerfooter input[type="week"] {
    
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    appearance: none;
    -webkit-appearance: none;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    color: #212121;
    font-family: "Roboto", "Open Sans", Tahoma, Geneva, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
    height: 32px;
    margin: 0;
    text-align: left;
    padding: 4px;
    padding: 0.4rem;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    vertical-align: top;
  }
  .headerfooter textarea[disabled],
  .headerfooter select[disabled],
  .headerfooter input[type="date"][disabled],
  .headerfooter input[type="datetime"][disabled],
  .headerfooter input[type="datetime-local"][disabled],
  .headerfooter input[type="email"][disabled],
  .headerfooter input[type="month"][disabled],
  .headerfooter input[type="number"][disabled],
  .headerfooter input[type="password"][disabled],
  .headerfooter input[type="search"][disabled],
  .headerfooter input[type="tel"][disabled],
  .headerfooter input[type="text"][disabled],
  .headerfooter input[type="time"][disabled],
  .headerfooter input[type="url"][disabled],
  .headerfooter input[type="week"][disabled] {
    background-color: #eee;
  }
  
  .headerfooter input[disabled],
  .headerfooter select[disabled],
  .headerfooter select[disabled] option,
  .headerfooter select[disabled] optgroup,
  .headerfooter textarea[disabled] {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888;
    cursor: default;
  }
  
  .headerfooter textarea,
  .headerfooter select[size],
  .headerfooter select[multiple] {
    height: auto;
  }
  
  .headerfooter select[size="0"],
  .headerfooter select[size="1"] {
    height: 38px;
  }
  
  @media (-webkit-min-device-pixel-ratio: 0) {
    .headerfooter select[size],
    .headerfooter select[multiple],
    .headerfooter select[multiple][size] {
      background-image: none;
      padding: 5px;
      padding: 0.5rem;
    }
  
    .headerfooter select,
    .headerfooter select[size="0"],
    .headerfooter select[size="1"] {
      background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 20px;
      padding-right: 2rem;
    }
  
    ::-webkit-validation-bubble-message {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
      border: 0;
      color: white;
      font: 13px/17px "Roboto","Open Sans", Tahoma, Geneva, Helvetica, sans-serif;
      overflow: hidden;
      padding: 15px 15px 17px;
      padding: 1.5rem 1.5rem 1.7rem;
      text-shadow: black 0 0 1px;
      min-height: 16px;
    }
  
    ::-webkit-validation-bubble-arrow,
    ::-webkit-validation-bubble-top-outer-arrow,
    ::-webkit-validation-bubble-top-inner-arrow {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #666;
      border-color: #666;
    }
  }
  .headerfooter textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%;
  }
  
  .headerfooter optgroup {
    color: black;
    font-style: normal;
    font-weight: 200;
    font-family: "Roboto", "Open Sans", Tahoma, Geneva, Helvetica, sans-serif;
  }
  .headerfooter optgroup::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  ::-webkit-input-placeholder {
    color: #878787;
    font-weight: 100;
  }
  
  :moz-placeholder {
    color: #878787;
    font-weight: 100;
  }
  
  ::-moz-placeholder {
    color: #878787;
    font-weight: 100;
  }
  
  :-ms-input-placeholder {
    color: #878787;
    font-weight: 100;
  }
  
  .headerfooter label {
    line-height: 0.6em;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 6px;
    margin-bottom: 0.6rem;
    display: inline-block;
  }
  .headerfooter label .optional {
    color: #969696;
    font-size: 11px;
    font-size: 1.1rem;
    
  }
  