/* flex layout */

.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .container .box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .container .main-header {
    background:#eee;
    padding: 0.5em;
  }
  .container .main-content {
    background-color: blue;
    flex: 1;
  }
  .container .main-footer {
    background-color: red;
    height: 60px;
  }
  .container .report-title {
    background-color: yellow;
    height: 30px;
  }
  .container .report-body {
    background-color:white;
    flex: 1;
    align-items: top;
    padding: 1em 1em;
  }
  
  .container .report-footer {
    background-color: white;
    text-align: right;
    height: 30px;
  }

  .segment.hidden, tr.hidden{
    display: none;
    }

  /* put icon on right side of input box */
  .inputBoxRight {
    position: absolute;
    right: 0;
    bottom: 1em;
  }

  /* allow menus and tooltips to display outside th/td container */
  .ui.fixed.table th, .ui.fixed.table td {
      overflow: visible!important;
      text-overflow: ellipsis;
  }

  .nopad.right{
    padding-right: 0px!important;
  }
  .nopad.left{
    padding-left: 0px!important;
  }

  .pad2.right{
    padding-right: 2px!important;
  }

  .nomargin {
    margin: 0!important;
  }

  /* put icon on right side of input box */
  .input-icon {
    position: relative;
  }
  .input-icon i{
    position: absolute;
    right: 0;
    bottom: 1em;
  }

  /* make the cursor a hand */
  .cursor.pointer{
    cursor: pointer!important;
  }

  /* a one pixel wide vertical divider*/
  .td-divider{
    
    padding-left: 4px!important;
    padding-right: 4px!important;
    width:1px; 
    border-right-width: 1px!important; 
    border-right-style: solid; 
    border-right-color:rgba(34, 36, 38, 0.15) 
  }

  .button.box-shadow{
    box-shadow: 0px 0px 0px 0.5px rgba(34, 36, 38, 0.15) !important;
  }

  /*fix main table footer height-so it always appears below table body*/
 .dataTables_scrollBody{
     height: auto!important;
  } 